.tarjetas-contenedor {
  padding-bottom: 1rem;
}

.tarjeta-tamanio {
  width: 18rem;
  height: calc(18rem * 1.8);
  // overflow: hidden;
}

.tarjeta-imagen-tamanio {
  height: 20rem;
}

.tarjeta-texto {
  text-overflow: ellipsis;
}

.tarjeta-horizontal-tamanio {
  max-width: 100vw;
}