.header-contenedor {
  max-width: 100%;
  height: auto;
  color: whitesmoke;
}

.header-background {
  background-image: url("../../../images/tinified/ba1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.header-contenido {}